body, html {
    margin: 0;
    padding: 0;
}

.welcometext {
    background-color: rgb(223, 223, 223);
    margin: auto;
    text-align: left;
    padding: 50px;
}

.welcometext h1 {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 50px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #666;
}

.right {
    float: right;
}
